In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections

In [3]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
17,tt0478970,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,Peyton Reed,Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,7.0,2015
589,tt0273799,12000000,17292381,Max Keeble's Big Move,Alex D. Linz|Zena Grey|Nora Dunn|Larry Miller|...,Tim Hill,His World. His Rules.,"Max Keeble, the victim of his 7th grade class,...",86,Comedy|Family|Fantasy|Science Fiction,Walt Disney Pictures|Karz Entertainment,10/5/2001,5.3,2001
1111,tt0327056,25000000,156822020,Mystic River,Sean Penn|Tim Robbins|Kevin Bacon|Marcia Gay H...,Clint Eastwood,"We bury our sins, we wash them clean.","A story about friendship and loyalty, guilt an...",138,Thriller|Crime|Drama|Mystery,Village Roadshow Pictures|Malpaso Productions|...,10/7/2003,7.4,2003
195,tt1823664,65000000,133821816,Annie,QuvenzhanÃ© Wallis|Jamie Foxx|Rose Byrne|Camer...,Will Gluck,It's a Hard Knock Life,"Ever since her parents left her as a baby, lit...",119,Music|Comedy|Drama|Family,Columbia Pictures|Sony Pictures Entertainment ...,12/19/2014,6.1,2014
441,tt1038686,26000000,67918658,Legion,Paul Bettany|Dennis Quaid|Kevin Durand|Kate Wa...,Scott Stewart,"When the last angel falls, the fight for manki...","When God loses faith in humankind, he sends hi...",100,Horror,Bold Films,1/21/2010,5.0,2010

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget

#ниже функция для задания 11 - подсчёт жанров
def genres_count(genres_column):
    for i in genres_column:
        if i in genres_dict:
            genres_dict[i] += 1
        else:
            genres_dict[i] = 1
    return genres_dict



#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
# строка кода ниже определяет индекс строки с нужным фильмом и мы можем скопировать название фильма как ответ
data.loc[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
# код ниже сразу выдаёт конечный ответ: название фильма и его imdb_id
ind_budget_max = data.index[data['budget'] == data.budget.max()]

df1 = data.iloc[ind_budget_max]  # оставляем нужную нам строку
mov_id = df1.iloc[0][0]  # извлекаем идентификатор фильма
mov_title = df1.iloc[0][3]  # извлекаем название фильма
# склеиваем название и идентификатор фильма
answer1 = mov_title + ' ' + '(' + mov_id + ')'
print(answer1)

# потенциально автоматически добавляем ответ в словарь
#answers['1'] = answer

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать

answers['2'] = 'Gods and Generals (tt0279111)'

In [10]:
ind_long = data.index[data['runtime'] == data.runtime.max()]

df1 = data.iloc[ind_long]
mov_id = df1.iloc[0][0]
mov_title = df1.iloc[0][3]

answer2 = mov_title + ' ' + '(' + mov_id + ')'
print(answer2)

# код ниже сразу-бы добавил ответ в словарь
#answers['2'] = answer

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
ind_short = data.index[data['runtime'] == data.runtime.min()]

df1 = data.iloc[ind_short]
mov_id = df1.iloc[0][0]
mov_title = df1.iloc[0][3]

answer3 = mov_title + ' ' + '(' + mov_id + ')'
print(answer3)

#answers['3'] = answer

answers['3'] = 'Winnie the Pooh (tt1449283)'

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [16]:
print(data.runtime.mean())
#answers['4'] = data.runtime.mean()

answers['4'] = 109.6585494970884

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [17]:
print(data.runtime.median())
#answers['5'] = data.runtime.median()

answers['5'] = 107.0

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
ind_profit_max = data.index[data['profit'] == data.profit.max()]
df1 = data.iloc[ind_profit_max]
mov_id = df1.iloc[0][0]
mov_title = df1.iloc[0][3]
answer6 = mov_title + ' ' + '(' + mov_id + ')'
print(answer6)
#answers['6'] = answer6
answers['6'] = 'Avatar (tt0499549)'

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [19]:
ind_profit_min = data.index[data['profit'] == data.profit.min()]
df1 = data.iloc[ind_profit_min]
mov_id = df1.iloc[0][0]
mov_title = df1.iloc[0][3]
answer7 = mov_title + ' ' + '(' + mov_id + ')'
print(answer7)
#answers['7'] = answer7
answers['7'] = 'The Lone Ranger (tt1210819)'

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
index_rev_bud = data.index[data['revenue'] > data['budget']]
answer8 = len(index_rev_bud)
# здесь можно и не пользоваться функцией len() а просто посмотреть длинну в выводе.
# но тогда не будет автоматизма!

print(answer8)
#answers['8'] = answer8
answers['8'] = 1478

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
df2008 = data[(data['release_year'] == 2008)]
df2008_max_revenue = df2008[df2008['revenue'] == df2008.revenue.max()]

title_2008 = df2008_max_revenue.iloc[0][3]
id_2008 = df2008_max_revenue.iloc[0][0]

answer9 = title_2008 + ' ' + '(' + id_2008 + ')'
#answers['9'] = answer9
print(answer9)
answers['9'] = 'The Dark Knight (tt0468569)'

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
# строка ниже оставляет в датасете нужные нам годы выпускы фильмов
data2012_2014 = data[(data['release_year'] > 2011) &
                     (data['release_year'] < 2015)]

mov_id = data2012_2014[data2012_2014['profit']
                       == data2012_2014.profit.min()].iloc[0][0]
mov_title = data2012_2014[data2012_2014['profit']
                          == data2012_2014.profit.min()].iloc[0][3]
answer10 = mov_title + ' ' + '(' + mov_id + ')'
#answers['10'] = answer10
print(answer10)
answers['10'] = 'The Lone Ranger (tt1210819)'

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [24]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# формируем список жанров для каждого фильма
data['new_genres'] = data['genres'].apply(lambda x: x.split('|'))

# объявляем словарь, в который занесём результаты
genres_dict = {}
# сбрасываем его, если использовался в другом задании ранее
genres_dict.clear()

# функция genres_count определена выше в Предобработке
data['new_genres'].apply(genres_count)
result = max(genres_dict, key=genres_dict.get)
print(result)

# формируем "human-readable" ответ
answer11 = str(result) + ' ' + str(genres_dict[result])
#answers['11'] = answer11
answers['11'] = 'Drama'

Drama

ВАРИАНТ 2

In [25]:
data['new_genres'] = data['genres'].apply(lambda x: x.split('|'))
df11_2 = data.explode('new_genres')

# простой подсчёт жанров после применения функции .explode
answer11_2 = collections.Counter(df11_2['new_genres']).most_common(1)
print(answer11_2)

[('Drama', 782)]

ВАРИАНТ 3

In [26]:
# Вариант 3 Задания 11
data['new_genres'] = data['genres'].apply(lambda x: x.split('|'))
df11_3 = data.explode('new_genres').reset_index()

# простой группировкой и подсчётм длинны массива каждого жанра получаем нужные значения
rez11_3 = df11_3.groupby(['new_genres'])['imdb_id'].unique().apply(
    lambda x: len(x)).sort_values(ascending=False)

genre_113 = rez11_3.index[0]
genre_amount113 = rez11_3[0]

answer11_3 = str(genre_113) + ', ' + str(genre_amount113)
print(answer11_3)

Drama, 782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
data['new_genres'] = data['genres'].apply(lambda x: x.split('|'))

grouped_df = data.groupby(['profit']).max().reset_index()
# оставляем в данных фильмы с прибылью больше 0:
grouped_df.loc[grouped_df['profit'] > 0].sort_values('profit', ascending=False)

# далее пользуемся тем-же инструментом что и в задании 11
genres_dict.clear()  # очищаем словарь после задания 11

grouped_df['new_genres'].apply(genres_count)
result = max(genres_dict, key=genres_dict.get)
print(result)
answer12 = str(result) + ' ' + str(genres_dict[result])
#answers['12'] = answer12
answers['12'] = 'Drama'

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [28]:
# группируем данные по режиссеру и суммируем кассовые сборы
# так как отрыв сборов фильмов с одним режисёром от остальных большой, нет нужды учитывать остальные
grouped_df = data.groupby(['director'])['revenue'].sum()
rez = grouped_df.sort_values(ascending=False)

# получаем результат: режисёр и его суммарные кассовые сборы
answer13 = str(rez.index[0]) + ' ' + str(rez[0])
print(answer13)
answers['13'] = 'Peter Jackson'

# ещё один вариант
#data['new_director'] = data['director'].apply(lambda x:x.split('|'))
# data_director=data.explode('new_director')
#rez = data_director.groupby(['new_director'])['revenue'].sum().sort_values(ascending = False)
#answer13_2 = str(rez.index[0])
# print(answer13_2)

Peter Jackson 6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [29]:
import collections
df_action = data[data.genres.str.contains('Action', na=False)]
answer14 = collections.Counter(
    df_action['director'].str.cat(sep='|').split('|')).most_common(1)
print(answer14)
answers['14'] = 'Robert Rodriguez'

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [30]:
# очищаем данные - оставляем инересующий нас год
df_2012 = data.loc[data['release_year'] == 2012]

# группируем по нужному нам признаку и суммарные кассовые сборы
df = df_2012.groupby(['cast'])['revenue'].sum()

# ниже готовим ответ в удобной для чтения форме
rez = df.sort_values(ascending=False)
answer15 = str(rez.index[0]) + ' ' + str(rez[0])
print(answer15)
answers['15'] = 'Chris Hemsworth'

Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson 1519557910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [31]:
df = data.loc[data['budget'] > data.budget.mean()]
answer16 = collections.Counter(
    df['cast'].str.cat(sep='|').split('|')).most_common(1)
print(answer16)
answers['16'] = 'Matt Damon'

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [32]:
# сортируем DataFrame оставляя только фильмы с Nicolas Cage
df_nic_cage = data[data.cast.str.contains('Nicolas Cage', na=False)]

answer17 = collections.Counter(
    df_nic_cage['genres'].str.cat(sep='|').split('|')).most_common(1)
print(answer17)
answers['17'] = 'Action'

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [33]:
# отфильтровываем данные оставля Paramount Pictures
df_paramount = data[data.production_companies.str.contains(
    'Paramount Pictures', na=False)]

# получаем название фильма и его id
mov_title = df_paramount.sort_values(['profit'], ascending=True).iloc[0][3]
mov_id = df_paramount.sort_values(['profit'], ascending=True).iloc[0][0]

answer18 = mov_title + ' ' + '(' + mov_id + ')'
print(answer18)
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [34]:
# группируем по году, суммируем revenue и сортируем по убывающей
df_year_revenue = data.groupby(['release_year'])[
    'revenue'].sum().sort_values(ascending=False)

# наш овет находится наверху данных: выбираем год как индекс и сам revenue
answer19 = str(df_year_revenue.index[0]) + \
    ' revenue: ' + str(df_year_revenue.iloc[0])
print(answer19)
answers['19'] = '2015'

2015 revenue: 25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [36]:
# отильтровываем датасет оставляя Warner Bros
df_warner = data[data.production_companies.str.contains(
    'Warner Bros', na=False)]

# группируем по год и подсчитываем суммарные кассовые сборы
df_warner_revenue = df_warner.groupby(['release_year'])[
    'revenue'].sum().sort_values(ascending=False)

answer20 = str(df_warner_revenue.index[0])
print(answer20)
answers['20'] = '2014'

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [38]:
data['release_month'] = data['release_date'].apply(lambda x: x.split('/')[0])
rez = data.groupby(['release_month'])['original_title'].describe(
).sort_values(['unique'], ascending=False)
answer21 = str(rez.index[0])
print(answer21)
answers['21'] = 'September'

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [40]:
data['release_month'] = data['release_date'].apply(lambda x: x.split('/')[0])
# оставлем в датасете только летние месяцы
df_summer = data[data.release_month.isin(['6', '7', '8'])]
# получаем количество фильмов простым подсчётом голичества строк в колонке таблицы
answer22 = len(df_summer.original_title)
print(answer22)
answers['22'] = '450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [41]:
data['release_month'] = data['release_date'].apply(lambda x: x.split('/')[0])

df_winter = data[data.release_month.isin(['12', '1', '2'])]
answer23 = collections.Counter(
    df_winter['director'].str.cat(sep='|').split('|')).most_common(1)
print(answer23)
answers['23'] = 'Peter Jackson'

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [42]:
data['title_length'] = data['original_title'].apply(len)
df = data.sort_values(['title_length'], ascending=False)
answer24 = df.iloc[0][10]
print(answer24)
answers['24'] = 'Four By Two Productions'

Twentieth Century Fox Film Corporation|Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [44]:
# подготавливаем описание фильмов для анализа и считаем длину слов в описании
data['overview_list'] = data['overview'].apply(lambda x: x.split())
data['overview_list_len'] = data['overview_list'].apply(len)

# для группировки готовим список студий
data['new_production_companies'] = data['production_companies'].apply(
    lambda x: x.split('|'))
df = data.explode('new_production_companies')

# для сгрупированных по студиям описаний высчитываем среднее и выбираем максимальное
rez = df.groupby(['new_production_companies'])[
    'overview_list_len'].mean().sort_values(ascending=False)
answer25 = str(rez.index[0])
print(answer25)
answers['25'] = 'Midnight Picture Show'

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [45]:
# вычисляем какое количество фильмов из DataFrame составляет 1%
top_1percent_amount = round(len(data.imdb_id)*1/100)

# сортируем фильмы по убывающему рейтигу и выводим заданное количество 1%
df = data.sort_values('vote_average', ascending=False).head(
    top_1percent_amount)

# выводим список top 1% фильмов по рейтингу
display(df.iloc[:, 3:13:9])
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [47]:
import itertools

data['new_cast'] = data['cast'].str.split('|')
df = data['new_cast'].reset_index()

# создадим комбинации по 2 из списка актёров
df['pairs'] = df['new_cast'].apply(
    lambda x: list(itertools.combinations(x, 2)))
df_pairs = df.explode('pairs').reset_index()

# подсчитаем количество встречающихся комбинаций
# получается 2 одинаково часто встречющиеся комбинации, но нужна лишь первая
rez = collections.Counter(df_pairs['pairs']).most_common(1)

# уберём из ответа квадратные скобки и кавычки
answer27 = str(rez[0])[1:-4]
print(answer27)
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [48]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [49]:
# и убедиться что ни чего не пропустил)
len(answers)

27